<div class="sidebar animated fadeInDown">
      <div class="logo-title">
        <div class="title">{{#if @blog.logo}}<img src="{{@blog.logo}}" style="width:127px;border-radius:50%;" alt="{{@blog.title}}" /></a>{{else}}<img src="//ooo.0o0.ooo/2015/11/19/564d966f0c18c.png" style="width:127px;"/>{{/if}}
          <h3 title=""><a href="/">{{@blog.title}}</a></h3>
          <div class="description">
            <p>{{@blog.description}}</p>
          </div>
        </div>
      </div>
      <ul class="social-links">
        <li><a href="https://twitter.com/unh1de"><i class="nc-icon-mini social_logo-twitter"></i></a>
        </li>
        <li><a href="http://instagram.com/unh1de"><i class="nc-icon-mini social_logo-instagram"></i></a>
        </li>
        <li><a href="https://dribbbble.com/"><i class="nc-icon-mini social_logo-dribbble"></i></a>
        </li>
        <li><a href="http://github.com/unh1de"><i class="nc-icon-mini social_logo-github"></i></a>
        </li>
      </ul>
      <div class="footer">
            <span>Designed by </span><a href="https://www.caicai.me" target="_blank">CaiCai</a>
            <span>Modified by </span><a href="http://www.yangjinkun.cn" target="_blank">YJK</a> & <a href="http://www.jorb.me" target="_blank">Jorb</a>
      </div>
</div>
