{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
{{> "header"}}
{{! The main content area on the homepage }}
{{#post}}

{{#if image}}
<style>
.sidebar{background-image: url({{image}});background-color: #fff;background-repeat: no-repeat;background-position: center center;background-size: cover;text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3)!important;color: #fff!important;}
.sidebar a,.sidebar p{color: #fff!important;text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);}
</style>
{{/if}}

<div class="main">
    <div class="page-top animated fadeInDown">
    {{navigation}}
    <div class="information">
              <div class="back_btn">
                <li><a onclick="window.history.go(-1)"  class="nc-icon-mini arrows-1_minimal-left"></a>
                </li>
              </div>
              <div class="avatar"><img src="{{@blog.cover}}">
              </div>
    </div>
    </div>

    <div class="autopagerize_page_element">
        <div class="content">
            <div class="post-page">
                <div class="post animated fadeInDown">
                    <!-- <div class="post-title"><h3>{{title}}</h3></div> -->
                    <div class="post-content view">
                         {{content}}
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>


{{/post}}
